
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@layer utilities{
    .inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn-1{
    background: linear-gradient( 45deg, #F7E93F 0%, #FB09B4 51% , #9100F8 100%) ;
}

.dec{
    background: linear-gradient( 30deg, #F7E93F 0%, #FB09B4 51% , #9100F8 100%) ;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
}