
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@layer utilities{
    .inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    border-radius: 10000px;
    background: linear-gradient( 45deg, #F7E93F 0%, #FB09B4 51% , #9100F8 100%) ;
}

.dec{
    background: linear-gradient( 30deg, #F7E93F 0%, #FB09B4 51% , #9100F8 100%) ;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.banner{
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.banner-1{
    background-image: url("../assets/footer-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media screen and (max-width:576px) {
    
    .hide{
        display: none;
    }
    .navbar{
         
    }
    .hamburger{
        width: 50px;
        height: 50px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .p{
        padding: 40px 20px;
    }
    .w{
       width: 340px; 
       text-align: center;
      
    }
    
    .w h2{
        font-size: 2.5rem;
        margin-bottom: 24px;
    }
    
    .r{
        width: 200px;
        height: 200px;
        margin-top: 10px;
        text-align: center;
    }
    .full{
        width: 80px;
        height: 80px;

    }
    .about{
        padding-right: 20px;
        padding-left: 20px;
        text-align: center;
    }
    .about h2{
        font-size:2rem;
        text-align: center;
    }
    
    .about-num{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 40px;
    }
    .num-box{
        font-size: 2rem;
        width: 180px;
    }
    
    .why-section {
        display: grid;
        grid-template-columns: repeat(1,300px);
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
    }
    
    .section-font{
        font-size: 2rem;
    }
    .section-width{
        width: 300px;
        padding: 24px;
    }
    .span{
        grid-column: span 1;
    
    }
    .span-2{
        grid-row: span 1;
    }
    
    .f-flex{
        flex-direction: column;
        
    }
    .t-center{
        text-align: center;
    }
    .j-center{
        justify-content: center;
        align-items: center;
    }
    .w-host{
        width: 300px;
        padding: 24px;
    }
    .h-flex{
        display: flex;
    }
    .m{
        margin: 0 auto;
    }
    .gap{
        gap: 16px;
        justify-content: center;
    }
    a{
        width: 300px;
    }
    iframe{
        width: 100%;
        height: 218px;
    }
    
}

@media screen and (min-width:577px) and (max-width: 992px){
    .feature{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-box {
        text-align: center;
    }
}
}